/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
html,
body {
  height: auto;
}
/*----------------------------------------- Variables and Mixins --------------------------------------------*/
/* Color Theme STRUCTURE with default values */
/* FOREST color values */
/* Mixins */
.padding2rem {
  padding: 2rem;
}
.padding1rem {
  padding: 1rem;
}
/*----------------------------------------- CODE STARTS HERE --------------------------------------------*/
body {
  background-image: url("../images/tree-tile-small3.gif");
  background-color: #234b37;
  background-repeat: repeat-x;
  background-attachment: fixed;
  opacity: 20%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Serif", "Verdana", "Arial", sans-serif;
}
.body-container {
  margin-top: 5rem;
  max-width: 80rem;
  font-size: 1.6rem;
  background-image: linear-gradient(#183023, rgba(32, 75, 51, 0.671));
  padding: 2rem;
  border-radius: 20px;
}
@media (max-width: 820px) {
  .body-container {
    width: 65rem;
  }
}
@media (max-width: 500px) {
  .body-container {
    width: 45rem;
  }
}
nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav a {
  color: #eff7ce;
  background-color: seagreen;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  text-align: center;
  min-width: 10rem;
  font-size: 125%;
}
nav a:hover {
  color: #f753ce;
  background-color: #131d17;
}
@media (max-width: 500px) {
  nav a {
    margin: 0;
    border-radius: 0;
  }
  nav a:nth-child(1) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #6e67b1;
  }
  nav a:nth-child(2) {
    background-color: #b094c4;
  }
  nav a:nth-child(3) {
    background-color: #9863a8;
  }
  nav a:nth-child(4) {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
header .profile-img img {
  border-radius: 50%;
  border: 2px #22e774 solid;
  width: 120px;
  margin-right: 2rem;
  padding: 0.4rem;
  margin-left: 1rem;
  background-color: black;
}
header h1 {
  font-weight: 800;
  font-size: 5rem;
  color: #22e774;
  margin-bottom: 2rem;
}
header p {
  font-size: 2rem;
  color: rgba(151, 221, 154, 0.692);
}
.resume-pane {
  display: flex;
  flex-direction: column;
  margin: 2%;
  background-color: rgba(46, 139, 87, 0.5);
  padding: 2rem;
  border-radius: 2rem;
}
@media (max-width: 500px) {
  .resume-pane {
    margin: 2rem 0;
  }
  .resume-pane h4 {
    padding: 0;
  }
}
.resume-pane h2 {
  font-size: 2.5rem;
  color: #eff7ce;
  margin-bottom: 1rem;
}
.resume-pane h3 {
  font-size: 2rem;
  color: #183023;
  font-weight: bold;
}
.resume-pane h4 {
  font-size: 1.4rem;
  margin: 1rem 0;
  color: #365a3f;
}
.resume-pane p {
  color: #191f1e;
  font-weight: 400;
  background-color: rgba(186, 236, 188, 0.774);
}
.resume-pane .company-name {
  color: #722c88;
}
.resume-pane .resume-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
@media (max-width: 820px) {
  .resume-pane .resume-container {
    flex-flow: column nowrap;
  }
}
.resume-pane .resume-box {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  justify-content: space-around;
  margin: 1rem 0;
  background-color: rgba(151, 221, 154, 0.692);
  padding: 1rem;
  border-radius: 1rem;
  line-height: 1.5;
  min-height: 25rem;
  box-shadow: 5px 5px 5px #365a3f;
}
@media (max-width: 820px) {
  .resume-pane .resume-box {
    width: 100%;
    flex-flow: row nowrap;
    min-height: none;
    padding: 0 1rem;
  }
  .resume-pane .resume-box h3 {
    padding: 2rem;
    min-width: 16rem;
  }
  .resume-pane .resume-box h4 {
    padding: 2rem;
  }
  .resume-pane .resume-box p {
    padding: 2rem;
    background-color: rgba(186, 236, 188, 0.774);
  }
}
@media (max-width: 500px) {
  .resume-pane .resume-box {
    flex-flow: column nowrap;
  }
}
.resume-pane .i {
  font-style: italic;
}
.resume-pane .hire-me {
  background-color: #8d6c9b;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #365a3f;
}
.resume-pane .hire-me h2 {
  margin-right: 2rem;
  padding-left: 1rem;
}
.resume-pane .hire-me p {
  line-height: 1.5;
  background-color: #c9acc2;
  padding: 1rem;
}
@media (max-width: 500px) {
  .resume-pane .hire-me {
    flex-flow: column nowrap;
    margin: 3rem 0;
  }
  .resume-pane .hire-me h2 {
    padding: 1rem;
    padding-top: 1.3rem;
  }
}
.resume-pane .skill-pane {
  display: flex;
  justify-content: space-between;
  background-color: rgba(151, 221, 154, 0.692);
  padding: 1rem;
  border-radius: 1rem;
  min-height: 20rem;
}
.resume-pane .skill-pane div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.2%;
  color: #eff7ce;
}
.footer-container {
  background-color: none;
}
