/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
html,
body {
  height: auto;
}
.titleText {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: .2rem;
}
html {
  background-color: #c6ddd2;
}
body {
  font-size: 1.6rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  width: 100%;
  height: 6rem;
  max-width: 80rem;
  background-image: url('../images/tree-tile-small3.gif');
  background-blend-mode: overlay;
  background-color: #073127;
  background-size: 20rem;
  background-attachment: fixed;
  background-position-y: -7.5rem;
  box-shadow: 0px 2px 2px rgba(51, 99, 138, 0.63);
}
body header .intro-blurb {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 3.5rem;
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: .2rem;
}
body nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 80rem;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: -15rem;
  font-size: 3.5rem;
  background-image: linear-gradient(120deg, #227756 15%, #007180 90%);
  padding: .2rem;
  padding-bottom: .5rem;
  box-shadow: 0px 2px 3px grey;
}
body nav a {
  color: #ffffff;
  width: 48%;
  padding: 2rem;
  text-align: center;
  letter-spacing: .22rem;
  outline-offset: -4px;
  border: 1px white solid;
  border-radius: .5rem;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.376);
  margin: .25rem;
}
body nav a:focus {
  background-color: #22a170;
}
body main {
  max-width: 90rem;
  font-weight: 0;
  font-size: 2rem;
}
body main h2 {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: .2rem;
  font-size: 120%;
  margin: 3rem;
  text-align: center;
}
body main h3 {
  font-weight: 700;
  padding: 2rem;
  font-size: 2.5rem;
  box-shadow: 0 -5px 10px rgba(3, 65, 45, 0.61);
  margin-top: 2rem;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}
body main .a {
  background-color: rgba(128, 182, 41, 0.493);
}
body main .b {
  background-color: rgba(58, 182, 41, 0.493);
}
body main .c {
  background-color: rgba(46, 163, 75, 0.493);
}
body main .d {
  background-color: rgba(30, 136, 101, 0.493);
}
body main .e {
  background-color: rgba(30, 136, 101, 0.493);
}
body main .f {
  background-color: rgba(46, 163, 75, 0.493);
}
body main .g {
  background-color: rgba(58, 182, 41, 0.493);
}
body main .h {
  background-color: rgba(128, 182, 41, 0.493);
}
body main ul {
  width: 90%;
  margin: 1rem auto 5rem auto;
}
body main ul li {
  list-style: circle;
  margin-left: 3rem;
  margin-top: 1rem;
}
body main h4 {
  margin: 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
}
body main .hire-me {
  border: 1px solid rgba(5, 95, 107, 0.151);
  width: 80%;
  margin: 0 auto;
  background-color: #e1f1f1;
  padding: 0 3rem 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(51, 99, 138, 0.63);
}
body main .hire-me p {
  margin-bottom: 2rem;
}
body footer {
  width: 100%;
}
body footer h2 {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: .2rem;
  font-size: 2.5rem;
  text-align: center;
  margin: 4rem;
}
body footer fieldset {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 1rem auto;
}
body footer label {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #073127;
}
body footer input {
  width: 100%;
  padding: 1rem;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(30, 136, 101, 0.493);
}
body footer #about {
  height: 10rem;
  width: 100%;
  max-width: 100%;
  font-size: 2.5rem;
  padding: 1rem;
  border: 1px solid rgba(30, 136, 101, 0.493);
  border-radius: 1rem;
}
body footer button {
  background-color: #073127;
  padding: 2rem;
  font-size: 2rem;
  margin: 2rem auto;
  color: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 3px 3px 5px rgba(51, 99, 138, 0.63);
}
